<!DOCTYPE html>
<html>
    <head>
        <title>
            View my commission
        </title>
        <meta charset="UTF-8" />
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
    </head>
    <body>
        <form action = '/bacomview' method = 'POST'>
            <input type="date" id="start" name="start" value = {{start}} required>
            <input type="date" id="end" name="end" value = {{end}} required>
            <input type="submit" value = View />
        </form>
        <p id="lastmonth">In this period, your sold {{counts}} tickets, the total commission received is {{price}}, and the average commission amount is {{ave_com}} dollars</p>
        
    <button onclick="window.location.href='/bahome';">home page</button>
    </body>
</html>