{% extends 'home模板.html'%}
{% block head %}
<title>
    Search flight
</title>
{% endblock %}
{% block body%}
<p>
    All flight
</p>
    <button onclick="window.location.href='/logout';"> Log out </button>
    {% if comingflight %}
        <form action = '/custflightsearch' method = 'POST'>
            <select name = 'depart'> 
                {% for i in deptwhere %}
                    <option value = {{i}}>{{i}}</option>
                {% endfor %}
            </select>
            <p>to</p>
            <select name = 'arrival'>
                {% for j in arrwhere %}
                    <option value = {{j}}>{{j}}</option>
                {% endfor %}
            </select>
            <p></p>
            <input type="date" name = "date" value= 'date'>
            <input type="submit" value = search! />
        </form>
        <p>view the flight</p>
        <form action = '/custbuyprocess' method = 'POST'>
        <table border="1">
            <tr>
              <td>airline name</td>
              <td>flight number</td>
              <td>dept from</td>
              <td>dept time</td>
              <td>arrive at</td>
              <td>arrive time</td>
              <td>price</td>
              <td>status</td>
              <td>Purchase?</td>
            </tr>   
            <tr>
            {% for i in comingflight %}
              <td>{{i[0]}}</td>
              <td>{{i[1]}}</td>
              <td>{{i[2]}}</td>
              <td>{{i[3]}}</td>
              <td>{{i[4]}}</td>
              <td>{{i[5]}}</td>
              <td>{{i[6]}}</td>
              <td>{{i[7]}}</td>
              <!-- <ul> 
                <li >
                    <input type="text"  name="airline_name" value="{{i[0]}}" readonly>
                </li>
                <li >
                    <input type="text"  name="flight_num" value="{{i[1]}}" readonly>
                </li>
            </ul>-->
              <td><button type="submit" name='data' value = '{{i}}'>Purchase</button></td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% endif %}
    <button onclick="window.location.href='/custhome';">Go Back</button>
{% endblock %}